body {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
  height: 400px;
  width: 400px;
}

td {
  border: 2px solid darkgrey;
  cursor: pointer;
}

/*********Carrier****************/
.carrier-start-horizontal {
  border-right: 0;
}

.carrier-body-horizontal {
  border-left: 0;
  border-right: 0;
}

.carrier-end-horizontal {
  border-left: 0;
}

.carrier-start-vertical {
  border-bottom: 0;
}

.carrier-body-vertical {
  border-top: 0;
  border-bottom: 0;
}

.carrier-end-vertical {
  border-top: 0;
}

/*********Battleship****************/
.battleship-start-horizontal {
  border-right: 0;
}

.battleship-body-horizontal {
  border-left: 0;
  border-right: 0;
}

.battleship-end-horizontal {
  border-left: 0;
}

.battleship-start-vertical {
  border-bottom: 0;
}

.battleship-body-vertical {
  border-top: 0;
  border-bottom: 0;
}

.battleship-end-vertical {
  border-top: 0;
}

/*********Cruiser****************/
.cruiser-start-horizontal {
  border-right: 0;
}

.cruiser-body-horizontal {
  border-left: 0;
  border-right: 0;
}

.cruiser-end-horizontal {
  border-left: 0;
}

.cruiser-start-vertical {
  border-bottom: 0;
}

.cruiser-body-vertical {
  border-top: 0;
  border-bottom: 0;
}

.cruiser-end-vertical {
  border-top: 0;
}

/*********Submarine****************/
.submarine-start-horizontal {
  border-right: 0;
}

.submarine-body-horizontal {
  border-left: 0;
  border-right: 0;
}

.submarine-end-horizontal {
  border-left: 0;
}

.submarine-start-vertical {
  border-bottom: 0;
}

.submarine-body-vertical {
  border-top: 0;
  border-bottom: 0;
}

.submarine-end-vertical {
  border-top: 0;
}

/*********Destroyer****************/
.destroyer-start-horizontal {
  border-right: 0;
}

.destroyer-body-horizontal {
  border-left: 0;
  border-right: 0;
}

.destroyer-end-horizontal {
  border-left: 0;
}

.destroyer-start-vertical {
  border-bottom: 0;
}

.destroyer-body-vertical {
  border-top: 0;
  border-bottom: 0;
}

.destroyer-end-vertical {
  border-top: 0;
}

.square-hover {
  background-color: grey;
}

.not-allowed:hover {
  /* cursor: not-allowed; */
  background-color: firebrick;
}
